body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:50px;
  width:1290px;
  height:60px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:73px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u193_img.selected {
}
#u193.selected {
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u194_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u194_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:180px;
  height:1031px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u196_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u196_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u196_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u196_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u196_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u196_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u196_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u196_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u196_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u197_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u198_img.selected {
}
#u198.selected {
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u201_img.mouseOver {
}
#u201.mouseOver {
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u202_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:1px;
  height:902px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u205_img.mouseOver {
}
#u205.mouseOver {
}
#u205_img.selected {
}
#u205.selected {
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u206_img.mouseOver {
}
#u206.mouseOver {
}
#u206_img.selected {
}
#u206.selected {
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u207_img.selected {
}
#u207.selected {
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u209_img.mouseOver {
}
#u209.mouseOver {
}
#u209_img.selected {
}
#u209.selected {
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u210_img.mouseOver {
}
#u210.mouseOver {
}
#u210_img.selected {
}
#u210.selected {
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u212_img.selected {
}
#u212.selected {
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:183px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:179px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u214_img.mouseOver {
}
#u214.mouseOver {
}
#u214_img.selected {
}
#u214.selected {
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u215_img.mouseOver {
}
#u215.mouseOver {
}
#u215_img.selected {
}
#u215.selected {
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:249px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u216_img.mouseOver {
}
#u216.mouseOver {
}
#u216_img.selected {
}
#u216.selected {
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:293px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u218_img.selected {
}
#u218.selected {
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:312px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:308px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u220_img.mouseOver {
}
#u220.mouseOver {
}
#u220_img.selected {
}
#u220.selected {
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:337px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u221_img.mouseOver {
}
#u221.mouseOver {
}
#u221_img.selected {
}
#u221.selected {
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:378px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u222_img.mouseOver {
}
#u222.mouseOver {
}
#u222_img.selected {
}
#u222.selected {
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u223_img.mouseOver {
}
#u223.mouseOver {
}
#u223_img.selected {
}
#u223.selected {
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1353px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:109px;
  width:1291px;
  height:971px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:225px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:156px;
  width:731px;
  height:214px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:162px;
  width:161px;
  height:47px;
  font-size:18px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:39px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:204px;
  width:127px;
  height:38px;
  font-size:20px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:219px;
  width:8px;
  height:8px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:252px;
  width:175px;
  height:38px;
  font-size:20px;
  text-align:left;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:267px;
  width:8px;
  height:8px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:300px;
  width:175px;
  height:38px;
  font-size:20px;
  text-align:left;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:315px;
  width:8px;
  height:8px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
